.top-bar {
      height: 67px;  
    z-index: 51; 
    @apply flex items-center relative border-b border-slate-200; 
    position: sticky;
    top: 0;  
    font-size: 20px;
    background-color: white;
    padding:22px;
}
